<!-- templates/cardgame.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Card Game</title>
</head>
<body>
    <div class="unique-banner-container">
        <img src="/static/images/CampaignTrailMojo.png" alt="Site Banner" class="site-banner">
    </div>
    <div class="main-container">


    <h1>Welcome to the Card Game!</h1>
    <p>Sorry, this game is full. Go back to create a new game.</p></p>
    </div>

</body>
</html>

